<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <app-menu></app-menu>
    <h4 style="text-align: center">Horarios</h4>
    <input
      *ngIf="isAdmin"
      type="text"
      style="height: 35px; width: 800px; margin-left: 20%"
      placeholder="Search"
      [(ngModel)]="filterPost"
      class="block w-full px-4 py1 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-md dark:placeholder-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-700 focus:border-blue-400 dark:focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40"
    />
    <button *ngIf="isAdmin" (click)="exportarAExcel()">Exportar a Excel</button>
    <div *ngFor="let semana of [1, 2, 3, 4]">
      <h5 style="text-align: center">Semana {{ semana }}</h5>
      <br />
      <div class="flex flex-col">
        <div class="overflow-x-auto sm:mx-0.5 lg:mx-0.5">
          <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
            <div class="overflow-hidden">
              <table class="min-w-full" #tabla>
                <app-visualizador-horarios></app-visualizador-horarios>
                <tbody>
                  <tr
                    class="bg-gray-100 border-b"
                    *ngFor="
                      let horario of arrayHorarios[0]
                        | filterHorario
                          : filterPost
                          : arrayClases[0]
                          : arrayMaestros[0]
                          : arrayGrupos[0]
                    "
                  >
                    <td
                      *ngIf="horario.semana == 1"
                      class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"
                    >
                      {{
                        horario.Hora_inicio.substring(0, 5) +
                          horario.Hora_inicio.substring(15)
                      }}
                      -
                      {{
                        horario.Hora_final.substring(0, 5) +
                          horario.Hora_final.substring(15)
                      }}
                      <br />
                      <br />
                      <button
                        *ngIf="isAdmin && horario.semana == 1"
                        data-ripple-light="true"
                        data-popover-target="popover"
                        class="middle none center rounded-lg bg-gradient-to-tr from-blue-600 to-blue-400 py-3 px-5 font-sans text-xs font-bold uppercase text-white shadow-md shadow-pink-500/20 transition-all hover:shadow-lg hover:shadow-pink-500/40 active:opacity-[0.85] disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
                        [routerLink]="['/horarios/update', horario.id_horario]"
                      >
                        UPDATE
                      </button>
                      <br />
                      <br />

                      <button
                        data-ripple-light="true"
                        *ngIf="isAdmin && horario.semana == 1"
                        (click)="deleteHorario(horario.id_horario)"
                        data-popover-target="popover"
                        class="middle none center rounded-lg bg-gradient-to-tr from-red-600 to-red-400 py-3 px-5 font-sans text-xs font-bold uppercase text-white shadow-md shadow-pink-500/20 transition-all hover:shadow-lg hover:shadow-pink-500/40 active:opacity-[0.85] disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
                      >
                        DELETE
                      </button>
                    </td>

                    <td
                      *ngIf="horario.semana == 1"
                      class="text-sm text-gray-900 font-light px-4 py-4 whitespace-nowrap"
                    >
                      <p *ngIf="horario.dia === 'Monday-Thursday'">
                        Group : {{ obtenerGrupo(horario.id_grupo) }}
                      </p>
                      <br />

                      <p *ngIf="horario.dia === 'Monday-Thursday'">
                        Teacher : {{ obtenerNombreMaestro(horario.id_grupo, arrayClases[0], arrayMaestros[0]) }}
                      </p>
                      <br />
                    </td>
                    <td
                      *ngIf="horario.semana == 1"
                      class="text-sm text-gray-900 font-light px-4 py-4 whitespace-nowrap"
                    >
                      <p *ngIf="horario.dia === 'Monday-Thursday'">
                        Group : {{ obtenerGrupo(horario.id_grupo) }}
                      </p>
                      <br />
                      <p *ngIf="horario.dia === 'Monday-Thursday'">
                        Teacher : {{ obtenerNombreMaestro2(horario.id_grupo) }}
                      </p>
                      <br />
                    </td>
                    <td
                      *ngIf="horario.semana == 1"
                      class="text-sm text-gray-900 font-light px-4 py-4 whitespace-nowrap"
                    >
                      <p *ngIf="horario.dia === 'Monday-Thursday'">
                        Group : {{ obtenerGrupo(horario.id_grupo) }}
                      </p>
                      <br />
                      <p *ngIf="horario.dia === 'Monday-Thursday'">
                        Teacher : {{ obtenerNombreMaestro(horario.id_grupo, arrayClases[0], arrayMaestros[0]) }}
                      </p>
                      <br />
                    </td>
                    <td
                      *ngIf="horario.semana == 1"
                      class="text-sm text-gray-900 font-light px-4 py-4 whitespace-nowrap"
                    >
                      <p *ngIf="horario.dia === 'Monday-Thursday'">
                        Group : {{ obtenerGrupo(horario.id_grupo) }}
                      </p>
                      <br />
                      <p *ngIf="horario.dia === 'Monday-Thursday'">
                        Teacher : {{ obtenerNombreMaestro2(horario.id_grupo) }}
                      </p>
                      <br />
                    </td>

                    <td
                      *ngIf="horario.semana == 1"
                      class="text-sm text-gray-900 font-light px-4 py-4 whitespace-nowrap"
                    ></td>
                    <td
                      *ngIf="horario.semana == 1"
                      class="text-sm text-gray-900 font-light px-4 py-4 whitespace-nowrap"
                    >
                      <p *ngIf="horario.dia === 'Saturday'">
                        Group : {{ obtenerGrupo(horario.id_grupo) }}
                      </p>
                      <br />
                      <p *ngIf="horario.dia === 'Saturday'">
                        Teacher : {{ obtenerNombreMaestro(horario.id_grupo, arrayClases[0], arrayMaestros[0]) }}
                      </p>
                      <br />
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
