<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <app-menu></app-menu>
    <h4>Materiales</h4>
    <div class="grid_columns" style="box-shadow: 4px 0 0 4px #2575a6;">
      <div class="filter_column">
        <div class="filter_header">
          <h6>Filtro de etiquetas</h6>
        </div>
        <div class="file_search">
          <input #searchInput type="text" id="searchInput" placeholder="Buscar archivos..." (input)="searchFiles(searchInput.value)">
          <span class="search_icon"></span>
        </div>
        <div class="file_type_filter" style="width: 95%;">
          <label for="archive_filter" class="block text-sm font-medium text-gray-700" style="margin-bottom: 5px; margin-top: 12px;">Tipo de archivo: </label>
          <select id="archive_filter" name="archive_filter" class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md"
                (change)="filterFilesByType($event)">
          <option></option>
          <option value="Documento Word">Documento Word</option>
          <option value="PDF">PDF</option>
          <option value="Audio">Audio</option>
          <option value="Video">Video</option>
          <option value="PowerPoint">PowerPoint</option>
          <option value="Imagen">Imagen</option>
        </select>

        </div>
        <div style="width: 95%;">
          <label for="course_filter" class="block text-sm font-medium text-gray-700" style="margin-bottom: 5px; margin-top: 24px;">Curso de idiomas: </label>
          <select id="course_filter" name="course_filter" class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md" (change)="filterFilesByTag()">
            <option></option>
            <option *ngFor="let tag of courseTags" [value]="tag.nombre">{{ tag.nombre }}</option>
          </select>
        </div>
        <div style="width: 95%;">
          <label for="module_filter" class="block text-sm font-medium text-gray-700" style="margin-bottom: 5px; margin-top: 24px;">Módulo del curso de Idiomas: </label>
          <select id="module_filter" name="module_filter" class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md" (change)="filterFilesByTag()">
            <option></option>
            <option *ngFor="let tag of moduleTags" [value]="tag.nombre">{{ tag.nombre }}</option>
          </select>
        </div>
        <div style="width: 95%;">
          <label for="submodule_filter" class="block text-sm font-medium text-gray-700" style="margin-bottom: 5px; margin-top: 24px;">Submódulo del curso de Idiomas: </label>
          <select id="submodule_filter" name="submodule_filter" class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md" (change)="filterFilesByTag()">
            <option></option>
            <option *ngFor="let tag of submoduleTags" [value]="tag.nombre">{{ tag.nombre }}</option>
          </select>
        </div>
      </div>
      <div class="document_viewer">
        <div class="file-row"> <!-- Nuevo contenedor de fila -->
          <div *ngFor="let file of arrayFiles; let i = index" class="new_document_viewer">
            <div class="image_box">
              <div class="images" style="background-image: url('https://cdn-icons-png.flaticon.com/512/2338/2338582.png');" (click)="viewFile(file.name.nombre)" target="_blank"></div>
            </div>
            <div class="text_box">
              <h2 class="item">{{ file.name.nombre }}</h2>
              <h3 class="file_type">{{ file.type }}</h3>
              <div class="etiquetas"> <!-- Nuevo div para las etiquetas -->
                <p *ngFor="let etiqueta of file.etiquetas; let j = index" class="etiqueta">
                  {{ etiqueta }}
                  <span class="eliminar-etiqueta" (click)="eliminarEtiqueta(file, j)">X</span>
                </p>                
              </div>
              <div class="file_access_by_group" style="margin-left: 1em; margin-right: 1em; margin-bottom: .5em;">
                <label for="file_access_by_group" class="block text-sm font-medium text-gray-700" style="margin-bottom: 5px; margin-top: 12px;">Filtrar para: </label>
                <select id="file_access_by_group" name="file_access_by_group" class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md">
                  <option></option>
                  <option *ngFor="let group of groups" [value]="group.nombre_grupo">{{ group.nombre_grupo }}</option>
                </select>
              </div>
              <div class="file_access_by_student" style="margin-left: 1em; margin-right: 1em; margin-bottom: .5em;">
                <label for="file_access_toggle_{{i}}" class="block text-sm font-medium text-gray-700" style="margin-bottom: 5px; margin-top: 12px;">¿Permitir acceso? No/Sí</label>
                <input type="checkbox" id="file_access_toggle_{{i}}" name="file_access_toggle_{{i}}" class="toggle-checkbox">
                <label for="file_access_toggle_{{i}}" class="toggle-label"></label>
              </div>
              <div class="button_container">
                <button type="button" name="delete_document" class="delete_button" (click)="deleteFile(file.name.nombre)">Delete file</button>  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br />
    <h6 *ngIf="click">Lista de Materiales</h6>
    <div class="file-upload" style="margin-left: 30px">
      <input
        #singleInput
        type="file"
        name="files"
        (change)="selectFiles($event)"
        multiple
        accept=".pdf, .mp3, .jpg, .png, .docx, .mp4, .mpeg, .pptx"
      />
      <p id="file-name"></p>
    </div>
    <br />
    <button
      data-ripple-light="true"
      data-popover-target="popover"
      style="margin-left: 30px"
      (click)="onSubmitFiles()"
      [disabled]="!filesSelected"
      class="middle none center rounded-lg bg-gradient-to-tr from-blue-600 to-blue-400 py-3 px-5 font-sans text-xs font-bold uppercase text-white shadow-md shadow-pink-500/20 transition-all hover:shadow-lg hover:shadow-pink-500/40 active:opacity-[0.85] disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
    >
      Subir archivos
    </button>
    <button
      [disabled]="arrayFiles.length === 0"
      (click)="downloadAllFiles()"
      style="margin-left: 30px"
      class="middle none center rounded-lg bg-gradient-to-tr from-green-600 to-green-400 py-3 px-5 font-sans text-xs font-bold uppercase text-white shadow-md shadow-pink-500/20 transition-all hover:shadow-lg hover:shadow-pink-500/40 active:opacity-[0.85] disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
    >
      Descargar todos los archivos
    </button>
    <button
      (click)="toggleTagManager()"
      style="margin-left: 30px"
      class="middle none center rounded-lg bg-gradient-to-tr from-yellow-600 to-yellow-400 py-3 px-5 font-sans text-xs font-bold uppercase text-white shadow-md shadow-pink-500/20 transition-all hover:shadow-lg hover:shadow-pink-500/40 active:opacity-[0.85] disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
    >
      Etiquetas
    </button>
    <div *ngIf="showTagManager" class="tag-manager-modal">
      <div class="tag-manager-content">
        <app-tag-manager (close)="toggleTagManager()"></app-tag-manager>
      </div>
    </div>
  </body>
  <br />
</html>
